*{
    margin:0;
    padding: 0;
}
.task_one p{
    margin: 10px;
}
h1{
    color:rgb(144, 76, 207);
    text-align: center;
}
.third_p{
    background-color:aquamarine;
    color: tomato;
    padding: 20px;
}
.task_two{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50px 15px;
    /* display: none; */
    /* visibility:hidden; */
}
.task_two h2{
    color: tomato;
    margin-bottom: 10px;
}
.travel_description_h2{
    text-align: center;
    position: relative;
}
.travel_description_h2 span{
    font-style: italic;
    border: 2px solid yellow;
    height:50px;
    display: inline-block;
    position: absolute;
    z-index: 3;
}
.travel_place_h2{
    font-size:20px;
    margin-top: 15px;
}
.task_two ul{
    margin-left:20px;
    list-style-type:decimal;
}
.task_two ul li{
    display: inline;
    padding: 5px 10px;
}
.contain_total_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contain_total_div div{
    width: 100px;
    height: 100px;
    background-color:violet;
    margin: 20px;
    border-width: 5px;
    border-style: solid;
    border-color:blueviolet;
    
}
.div_for_background_1{
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.258);

}
.div_for_background_2{
    background-image: url(../image/download.png);
    padding: 10px;
    border-radius: 0px 50px 0px 50px;
    box-shadow: -5px 5px 5px chocolate;

}
.div_for_background_3{
    background-image: url(../image/download.png);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-right-radius: 50px;
}
.div_for_background_3_2{
    background-image: url(../image/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}
.div_for_background_4{
    background-image: url(../image/download.png);
    background-repeat: repeat-x;
    background-position: center;
}
.div_for_background_5{
    background-image: url(../image/download.png);
    background-size:60px;
    background-repeat: repeat-y;
    background-position: center;
}
.div_for_background_6{
    background-image: url(../image/download.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.div_for_background_7{
    background-image: url(../image/download.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.travel_images{
    text-align: center;
}
.travel_images img{
    width: 150px;
    height:150px;
}
.image_show_more{
    display: block;
    margin: 20px auto;
}